<div class="container-fluid">
<div class="row">
    <div class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="row">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/ashes.of.the.souls/" target="_blank"><i class="fa fa-instagram text-secondary aots-footer-icon"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://open.spotify.com/artist/0LbcgF8cDpM70iDJzZFfhm?si=-Md4Lbx6SpmgFxyylvotQw" target="_blank"><i class="fa fa-spotify text-secondary aots-footer-icon"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Shipping and Return</a>
                </li>
            </ul>
    </div>
</div>
</div>
<div class="row">
<footer class="blockquote-footer">&copy; Made by PurpleMachine</cite></footer></div>
</div>
</div>  