body {
    background-color: black;
}

/* Catalog */
.aots-image {
    max-width: 100%;
    z-index: -1;
}

.aots-image-wrap {
    border: 2px solid #fff;
    width: 100%;
    height: 200px;
    overflow: hidden
}

.aots-image-wrap img {
    width: 100%;
    height: 300;
    transition: all 1s
}

.aots-image-wrap:hover img {
    transform: scale(1.2, 1.2);
    cursor: pointer
}

.aot-image-description {
    position: absolute;
    z-index: 1000;
    visibility: hidden;
    opacity: 0; 
    transition: all 1s
}

.aots-image-wrap:hover .aot-image-description {
    visibility: visible;
    opacity: 1;
}

/* Footer */
.aots-footer-icon {
    font-size: 2em;
}

/* Shop */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
